# Yarn / Node build
node_modules/
/*.log
coverage*

# Hardhat build
cache/
build/
typechain/
artifacts/
dist/

# Environment variables
.env*
!.env.example

# Deployment artifacts
whitelist*.json
contractsInfo.json
merkleTree.json

# Editor Setup
.vscode/*
!.vscode/*.default

# Deployments
deployments/*
!deployments/mainnet
.openzeppelin/*
!.openzeppelin/mainnet.json